/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------*/

body { 
    background: linear-gradient(160deg, white, 60%, #98e8e5);
    font: 16px Helvetica, sans-serif;
}

.divRoot {
    display: grid;
    grid-template-areas: 
    "sidebar menu menu"
    "sidebar main main"
    "sidebar main main";
    grid-template-rows: 50px 1fr 1fr;  
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    height: 100vh;
    margin: 0;
}

/*scroll*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    border-radius: 6px;
}
::-webkit-scrollbar {
    width: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-image: -webkit-gradient(linear,
                                       left bottom,
                                       left top,
                                       color-stop(0.44, #94bed6),
                                       color-stop(0.86, #76b3e8));
}

.menuBtn, .editorListBtn {
    outline: none !important;
    border: none !important;
    background-color: transparent;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);  
}
.menuBtn:active, .editorListBtn:active {
    box-shadow: 0 1px 5px rgba(0, 0, 0, .6);
}

/*------------------------*/

.menu {
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
}

.menuBtn {
    margin: 5px;
    font: 16px Helvetica, sans-serif;
    text-align: center;
}

/*------------------------*/

.main { 
    grid-area: main; 
    text-align: center;
    font: 16px Helvetica, sans-serif;
    overflow-y: auto;
    margin: 10px;
}

.table {
    position: relative;
    margin: 0 5px;
    border: 1px solid #59a5e6;
}
.table td, .table th, .table caption {
    border: 1px solid #59a5e6;
    vertical-align: middle;
    padding: 3px;
}

.table td {
    width: 150px;
}

.table caption {
    border-bottom: transparent;
}

.tableInput {
    position: relative;
    outline: none !important;
    border: 1px solid #59a5e6;
    margin: 6px 0 0;
    width: 140px;
    font: 16px Helvetica, sans-serif;
}

/*------------------------*/
.sidebar { 
    grid-area: sidebar; 
    overflow: auto;
    position: relative;
    margin-bottom: 10px;
}

/* accordeon */
details {
    position: relative;
    top: 37px;
}

details summary {
    display: block;
    outline-style: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    margin: 0 5px 8px;
    padding: 0.5em;
}
details summary::-webkit-details-marker {
    display: none;
}
details summary::before {
    content: "+ ";
}
details[open] summary::before {
    content: "- ";
}
details summary:hover, .labelCheckbox:hover, .editDiv:hover {
    background: #bef1ef;
}

.divCheckboxes {
    margin: 5px 8px 10px;
}

.labelCheckbox {
    display: block;
}

input[type="checkbox"] { display: none; }

.checkbox_text {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin-bottom: 10px;
}

.checkbox_text:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #6cc0e5;
    position: absolute;
    left: 0;
    top: 0;
}

.labelCheckbox input:checked + .checkbox_text:after {
    width: 7px;
    height: 17px;
    top: -7px;
    left: 5px;
    border: 2px solid #6cc0e5;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.divNewSummary {
    position: relative;
    top: 37px;
    outline-style: none;
    border-radius: 5px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .4);
    margin: 0 5px 8px;
    padding: 0.5em;
}

.icon, .deleteIcon {
    width: 20px;
    height: 20px;
}
.deleteIcon {
    position: relative;
    right:5px;
}

/*кнопка редактора-списка*/
.editorListBtn {
    position: absolute;
    top: 5px;
    right: 10px;
}

/*editor*/
.editDiv {
    display: grid;
    grid-template-columns: 1fr 30px;
    margin-top: 13px;
    border: 1px solid black;
}

.editSummary, .editElement {
    border: 1px solid #59a5e6;
    padding: 3px;  
}
.editSummary {
    display: inline-block;
    min-width: 80%;
}
.editElement {
    width: 80%;
    margin: 3px;
}

.deleteBtnSummary {
    position: absolute;
    top: 9px;
    right: 10px;
}
.deleteBtn {
    margin-top: 3px;
}
.deleteBtnSummary, .deleteBtn {
    outline: none !important;
    background-color: transparent;
    border-radius: 5px;
    border: 1px solid #59a5e6;
    width: 24px;
    height: 24px;
}
.deleteBtn:active, .deleteBtnSummary:active {
    border: 2px solid #59a5e6;
}
.deleteBtnTable {
    width: 28px;
    height: 28px;
    padding-left: 8px;
    margin-top: 0px;
}
.inputElement {
    outline: none !important;
    border: 1px solid #59a5e6;
    padding: 3px;
    width: 80%;
    margin: 3px;
    font: 16px Helvetica, sans-serif;
}
/*------------------------*/

@media print {
  * {
    display: none;
  }
  #printableTable {
    display: block;
  }
}