/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------*/

:root {
    --border-style: 1px solid #ccc;
    --background-hover: rgba(125,108,108,0.1); 
    --font-style: 16px Helvetica, sans-serif; 
}

body { 
    font: var(--font-style);
}

.divRoot {
    display: grid;
    grid-template-areas: 
    "menu menu"
    "sidebar main";
    grid-template-rows: 60px 1fr;  
    grid-template-columns: 290px 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    height: 100vh;
    margin: 0;
}

/*scroll*/
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
    background-color: #F5F5F5;
}
::-webkit-scrollbar { 
    width: 6px;
    height: 6px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb {
    width: 6px;
    height: 6px;
    background: rgba(125,108,108,0.3);
}

.menuBtn, .editorListBtn {
    outline: none !important;
    border: none !important;
    background-color: transparent;
}

.editorListBtn:hover {
    background: rgba(125,108,108,0.1);
}

/*------------------------*/

.menu {
    grid-area: menu;
    display: flex;
    flex-wrap: wrap;
    background: #A2035A;
    box-shadow: 0px 2px 4px 0px rgba(125,108,108,0.7);
    align-items: center
}

.menuHeading {
    margin-left: 75px;
    margin-right: 70px;
    font: 30px Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

.menuBtn {
    font: var(--font-style);
    color: white;
}

.menuBtn:hover {
    text-decoration: underline;
}

.menuBtn:active {
    color: #DADAF8;
    font: 16px Helvetica, sans-serif;
}

/*------------------------*/

.main { 
    position: relative;
    grid-area: main; 
    text-align: center;
    font: var(--font-style);
    overflow-y: auto;
    margin: 10px;
}

.boxShadow {
    position: absolute;
    left: 5px;
    display: inline-block;
    box-shadow: 0px 2px 4px 0px rgba(125,108,108,0.7);
}

.table {
    position: relative;
    border-collapse: collapse;
    margin: 15px;
    text-align: left;
    
}

.table tr {
   border-bottom: var(--border-style); 
}
.table tr:hover td {
    background: var(--background-hover);
}

.table td, .table th {
    width: 140px;
}

.table td:nth-child(2), table th:nth-child(2), .table td:nth-child(6), table th:nth-child(6) {
    width: 100px;
    padding-bottom: 3px;
}

.table td:nth-child(4), table th:nth-child(4) {
    padding-right: 30px;
}

.table td:nth-child(4), table th:nth-child(4), .table td:last-child, .table th:last-child {
    text-align: center;
    width: 50px;
}

.table td:last-child, .table th:last-child {
    padding-right: 0;
}

.tableInput {
    position: relative;
    bottom: 2px;
    outline: none !important;
    border: var(--border-style);
    width: 140px;
    font: var(--font-style);
    display: block;
}

.tableName {
    position: relative;
    left: 25px;
    font: 24px Helvetica, sans-serif;
    color: #A2035A;
    text-align: left;
    padding: 2px;
}

/*------------------------*/
.sidebar { 
    grid-area: sidebar; 
    overflow: auto;
    position: relative;
    margin: 2px 0;
    border-right: var(--border-style);
}

/* accordeon */
details {
    position: relative;
    top: 37px;
}

details summary {
    display: block;
    outline-style: none;
    margin-left: 10px;
    padding: 0.5em; 
    border-bottom: var(--border-style);
}
details summary::-webkit-details-marker {
    display: none;
}
details summary::before {
    content: "+ ";
}
details[open] summary::before {
    content: "- ";
}
details summary:hover, .labelCheckbox:hover, .editDiv:hover {
    background: var(--background-hover);
}

.divCheckboxes {
    margin: 5px 8px 0 8px;
}

.labelCheckbox {
    display: block;
    margin-left: 25px;
    padding-top: 4px;
    padding-bottom: 5px;
}

input[type="checkbox"] { display: none; }

.checkbox_text {
    display: block;
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.checkbox_text:after {
    content: '';
    display: block;
    width: 14px;
    height: 14px;
    border: 2px solid #8C8C8C;
    position: absolute;
    left: 0;
    top: 0;
}

.labelCheckbox input:checked + .checkbox_text:after {
    width: 7px;
    height: 17px;
    top: -7px;
    left: 5px;
    border: 2px solid #8C8C8C;
    border-top-color: transparent;
    border-left-color: transparent;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.divNewSummary {
    position: relative;
    top: 37px;
    outline-style: none;
    margin-left: 10px;
    padding: 0.5em;
}

.icon, .deleteIcon {
    width: 20px;
    height: 20px;
}
.deleteIcon {
    position: relative;
    right:5px;
}

/*кнопка редактора-списка*/
.editorListBtn {
    position: absolute;
    top: 5px;
    right: 10px;
}

/*editor*/
.editDiv {
    display: grid;
    grid-template-columns: 1fr 30px;
    margin-left: 25px;
}

.editSummary {
    display: inline-block;
    min-width: 80%;
}
.editElement {
    width: 80%;
    padding: 3px;
}

.deleteBtnSummary {
    position: absolute;
    top: 9px;
    right: 14px;
}
.deleteBtn {
    margin-top: 3px;
}
.deleteBtnSummary, .deleteBtn {
    outline: none !important;
    background-color: transparent;
    border: transparent;
    width: 24px;
    height: 24px;
}
.deleteBtn:active, .deleteBtnSummary:active {
    border: transparent;
}
.deleteBtnTable {
    width: 28px;
    height: 28px;
    padding-left: 8px;
    margin-top: 0px;
    border: transparent;
}
.deleteBtnTable:active { 
    border: transparent;
}
.inputElement {
    outline: none !important;
    border: var(--border-style);
    font: var(--font-style);
}

/*------------------------*/
@media print {
  * {
    display: none;
  }
  #printableTable {
    display: block;
  }    
}